@charset "utf-8";

.markdown {
  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .wp-video, .tr-caption-container {
    width: 100% !important;
    height: initial !important;
  }
}

.post-nav {
  max-width: 50px;
  position: fixed;
  top: 15%; left: 0;
  z-index: 999;

  button {
    border-color: #1f99f3;
    color: #1f99f3;
    max-height: 40px;
  }
}

.post-anchor:hover {
  color: #000;
  color: rgba(0,0,0,0.5);
}

.navbar .navbar-collapse .feed-buttons a {
  max-height: 32px;
  margin: 1px;
}

@media (prefers-color-scheme: dark) {
  .bg-light {
    background-color: rgba(0,0,0,.03) !important;
  }
  .breadcrumb-item.active {
    color: white;
  }
  .navbar .navbar-collapse .feed-buttons a {
    color: black !important;
  }
  .post-nav button:hover {
    color: white;
  }
}

@media (max-width: 540px) {
  .intro {
    flex-direction: column;
  }

  .intro div {
    text-align: center;
  }

  .intro img {
    min-width: 100px !important;
  }

  .intro h2 {
    font-size: 1.5rem;
  }

  .intro h5 {
    font-size: 1.1rem;
  }

  .card-header h3 {
    font-size: 1.4rem;
  }

  .post-feed {
    max-height: 40px;
  }
}

.wp-caption {
  max-width: 100% !important;
}

.single-post {
  overflow: hidden;
}

.swiper-slide {
  margin-right: 30px;
}
